// ==========================================================================
// Brand colors
// ==========================================================================

.brand,
.brand:hover,
.brand:visited,
.brand:focus {
	a {
	    color: $logo-color;
	}
}