// ==========================================================================
// Elementer
// ==========================================================================

html {
    font-family: $font-family-base;
    color: $font-color-primary;
}

$image-background: "" !default;
@if $image-background != "" {
    body {
        background-position: center center;
        background-repeat: repeat;
        background-attachment: fixed;
        background-image: url($image-background);
    }
}

body {
    background-color: $design-body-background-color;
}

hr {
    border-color: $design-border-color;
}


// ==========================================================================
// Site
// ==========================================================================

.site-corporate {
  background-color: $design-navigation-background-color;
}

.site-wrapper {
  background-color: $design-wrapper-background-color;
}

.skip-content[data-group="nav-menu"] {
  background-color: $design-navigation-background-color;
}

.panel-category {
    background: $design-navigation-background-color;
    .panel-heading {
      background-color: dolp($design-navigation-background-color, 5%);
    }
}

.site-header {
  background-color: $design-header-background-color;
}

.site-navigation {
  background-color: $design-navigation-background-color;
}

$temp-color-footer: $font-color-footer;
$temp-color-headline-footer: $font-color-headline-footer;

@if $temp-color-footer == "" {
  $temp-color-footer: $font-color-primary;
}

@if $temp-color-headline-footer == "" {
  $temp-color-headline-footer: $font-color-headline;
}

.site-footer {
  background-color: $design-footer-background-color;

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    color: $temp-color-headline-footer;
  }

  hr {
    border-top: 1px solid darken($design-footer-background-color, 10%) !important;
    border-bottom: 1px solid lighten($design-footer-background-color, 10%) !important;
  }

  .fa-circle {
    color: dolp($design-footer-background-color, 10%);
  }

  a,
  a:visited,
  .fa-stack .fa-inverse {
    color: $temp-color-footer;
  }

  a:hover,
  .fa-stack:hover .fa-inverse {
    color: dolp($temp-color-footer, 25%);
  }

  .footer-sitemap,
  .footer-account,
  .footer-contact,
  .footer-social {
    color: $temp-color-footer;
  }
}

.frontpage-content {
  .h1 {
  }
}

.text-headline {
}

.skip-links .nav-toggle {
  border-color: $design-navigation-font-color;
  color: $design-navigation-font-color;
  &:hover {
    border-color: dolp($design-navigation-font-color, 15%);
    color: dolp($design-navigation-font-color, 15%);
  }
}

.skip-content {
  border-color: $design-border-color;
}

.badge-count {
  border-color: $design-border-color;
}

.panel-category {

    .category--item {
        border-color: $design-body-background-color;
    }
}


// ==========================================================================
// Include at 3 (tablet)
// ==========================================================================

// ==========================================================================
// Include at 4 (960 dekstop)
// ==========================================================================

// ==========================================================================
// Include at 4 (1280 dekstop)
// ==========================================================================
