// ==========================================================================
// IE styles
// ==========================================================================


//
// General
//

.ielt9 {
    .site-header,
    .site-corporate,
    .site-navigation {
        .container,
        .container.with-xlarge,
        .row {
            overflow: visible;
        }
    }
}

//
// Navigation
//

.ie7 {
    .random {
        background-color: #bada55;
    }
}

.ielt9{
    .site-corporate{
        position:relative;
        z-index:10;

        //Language / Currency picker
        .skip-content{
            .is-inline-block{
                float:left;
                height:28px;
                margin:10px 0 10px 0;

                .dropdown{
                    position:absolute;

                }

            }
            .w-langauge-picker{
                width:39px;
                margin:10px 10px 10px 0;
            }
            .w-currency-picker{
                width:33px;
            }
        }

        //Menu
        .col-l-8.col-xl-12 {
            width:50%;
        }
        .col-l-4.col-xl-12 {
            width:50%;
            margin:5px 0 0 0;
        }

        .w-menu {
            float:right;

            .w-menu-item {
                float:left;

                .dropdown-menu {
                    background: url('../images/opacity.png') repeat 0 0;
                    position:absolute;
                    float:left;
                    width:100%;

                    .dropdown-container {
                        background:#d9d9d9;
                        //border:none;
                        float:left;
                        width:100%;
                    }

                    .w-menu-item {
                        width:100%;
                    }
                }
            }
        }
    }
}

//
// Site Categories
//

.ielt9 {
    .site-categories{
        position:relative;
        z-index:3;
    }
}

//
// Site header
//

.ielt9 {
    .site-header {
        position:relative;
        z-index:4;

        .col-s-4.col-m-12.col-l-3.col-xl-6 {
            z-index:1;
        }
    }
}


//
// Logo
//

.ielt9 {
    .brand {
        display:block !important;
    }
}

//
// Cart button
//

.ielt9 {
    .header--interaction.row {
        .col-s-4.col-m-12.col-l-6.col-xl-12.w-search.is-collapsed {
            display:block;
            margin:20px 0 0 0;
        }
        .col-s-4.col-m-12.col-l-6.col-xl-12.is-hidden-s {
            float:right;
            margin:20px 0 0 0;

            .dropdown {
                .dropdown-menu.pull-right {
                    background:url('../images/opacity.png') repeat 0 0;
                    position:absolute;
                }
            }
        }
    }
}

// ==========================================================================
// IE9
// ==========================================================================

.ie9 {
    #vbpt-scope{
        display: none;
    }
}


//
// IE7 Fixes
//

.ie7 {
    .w-menu {
        .w-menu-item {
            a {
                float:left;
            }
            span {
                float:left;
            }
            .w-menu.w-menu-list {
                float:left;
                width:198px;

                .w-menu-item {
                    a {
                        cursor:pointer;
                    }
                }
            }
        }
    }
}

.ie7 {
    .site-corporate {
        padding-bottom:10px;

        //Language / Currency picker
        .skip-content {
            .w-language-picker,
            .w-langauge-picker {
                width:53px;
                margin:10px 10px 10px 0;
            }
            .w-currency-picker {
                width:44px;
            }
        }
    }
    .site-header {
        .brand {
            max-width:none;
        }
        .col-s-4.col-m-12.col-l-9.col-xl-18{
            width: 500px;
            float:right;


            .col-s-4.col-m-12.col-l-6.col-xl-12.w-search.is-collapsed {
                margin: 0px 0 0 0;
            }
            .col-s-4.col-m-12.col-l-6.col-xl-12.is-hidden-s {
                margin:20px 0 0 0;
            }
        }
    }
}

.ie7 {
    .site-categories {
        .panel.panel-category {
            background: none;
            border: none;

            .category--list {
                float: left;
                width: 100%;
            }

            .category--item {
                background: #ccc;
                float: left;
                width: 100%;
                a {
                    cursor: pointer;
                }
            }
        }
    }
    .site-content{
        position:relative;
        z-index:2;
    }
    .site-footer{
        position:relative;
        z-index:1;
    }
}
