@use "sass:math";

.productfilter {
    .multiple_select {
        position: relative;
        
        .button {
            transition: 0.1s ease-out;
            text-align: left;
            &::after {
                font-family: FontAwesome;
                content: "\f078";
                padding-left: 1em;
                float: right;
            }
        }
        
        &-dropdown {
            margin-top: 5px;
            position: absolute;
            z-index: 100;
            display: none;
            transition: 0.2s ease-out;
            @media (max-width: 767px) {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                position: fixed
            }
            
            &-blur {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 200%;
                @media (max-width: 767px) {
                    position: absolute;
                    background: rgba(0,0,0,0.2);
                }
            }
            
            &.open {
                display: flex;
            }
            
            .checklist {
                min-width: 200px;
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                z-index: 1;
                border-radius: 3px;
                // theme fallback
                background: #ffffff;
                @media (max-width: 767px) {
                    max-height: 80vh;
                    width: 80vw;
                    margin: auto;
                    padding: 0;
                }
                
                &-body {
                    overflow-y: auto;
                    max-height: 50vh;
                    padding: 10px;
                    margin-right: 3px;
                    margin-top: 3px;
                    &::-webkit-scrollbar {
                        -webkit-appearance: none;
                        width: 5px;
                    }
                    &::-webkit-scrollbar-thumb {
                        border-radius: 4px;
                        background-color: rgba(0, 0, 0, .4);
                        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
                    }
                    @media (max-width: 767px) {
                        padding: 20px 10px;
                        max-height: 60vh;
                        .form-group {
                            padding: 10px;
                        }
                    }
                }
                &-header {
                    border-bottom: 0.5px solid;
                }
                &-footer {
                    width: 100%;
                    margin: 0;
                    border-top: 0.5px solid;
                    padding: 10px;
                    &-close,
                    &-reset {
                        cursor: pointer;
                        width: 50%;
                        float: left;
                        min-height: 1px;
                    }
                }
                @media (max-width: 767px) {
                    &-footer,
                    &-header {
                        padding: 20px;
                    }
                }
            }
        }
        .checkbox {
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            font-weight: 500;
            
            input[type=checkbox] {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                &:checked ~ .checkbox-checkmark::after {
                    opacity: 1;
                }
            }

            &-text {
                padding-left: 10px;
            }
            
            &-checkmark {
            
                $size: 8px;
                transition: 0.1s ease-out;
                cursor: pointer;
                display: block;
                position: relative;
                top: 0;
                left: 0;
                height: $size;
                width: $size;
                padding: $size * 0.75;
                border-radius: 2px;
                border: solid 1px;
                
                &::after {
                    content: "";
                    border-style: solid;
                    border-width: 0 1px 1px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    position: absolute;
                    opacity: 0;
                    left: 0;
                    top: -2px;
                    bottom: 0;
                    right: 0;
                    width: math.div($size, 2);
                    height: $size;
                    margin: auto;
                }
            }
        }
                
        .form-group {
            padding: 5px 0;
            margin: 0;
            .input-group .input-group-main {
                border: none;
                margin: 0;
                background: transparent;
                width: auto;
                padding: 0 10px;
                font-weight: 400;
            }   
        } 
    }
}



