// ==========================================================================
// Site
// ==========================================================================
.site-corporate {

    @media (max-width: 767px) {
        > .container > .row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    @include from(4) {
        margin-bottom: 100px;
    }

    .container {
        padding: 0.5em 0;
    }
    
    .dropdown .dropdown-menu {
        right: 0;
        left: auto;
    }
}
.site-header {
    margin-bottom: 1em;

    @include from(4) {
        height: 80px;
        position: absolute;
        right: 0;
        left: 0;
        top: 47px;
        z-index: 998;

        &.site-header--is-top {
            top: 0;
        }
    }
}

.navbar .navbar-brand {
    margin: 0 1em 0 0;
}

.navbar-header {
    padding: 1em;
}

.brand {
    display: table-cell;
    height: 60px;
    max-width: 100px;
    line-height: 60px;
    text-shadow: none;
    word-wrap: normal;
    vertical-align: middle;
    padding-right: 20px;
    padding-top: 5px;
}

    .brand a {
        //float: left;
        display: block;
    }

    .brand img {
        margin: 0;
    }

.site-content {
    position: relative;
    .site-wrapper {
        padding-bottom: 1em;
    }
}
@media (max-width: 767px) {
    .container {
        width: 100%;
    }
}

.site-footer {
    padding-top:3em;
    padding-bottom:1em;

    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
        line-height: 1em;
    }

    hr {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .footer-sitemap,
    .footer-account,
    .footer-contact {
        margin-bottom: 2em;
    }
}

.page-title {
    margin: 0 0 .95em;
    padding: 0 0 1em;
    border-bottom: 1px solid transparent;

    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
        &:first-child {
            margin-bottom: 0px;
        }
    }
}

.page-title-frontpage {
    margin: 0 0 .95em;
    padding: 1em 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

img.responsive {
  width: auto !important;
  height: auto !important;
}

//
// Mobile menu
//

.skip-links {
    list-style: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

.skip-links li {
    float: left;
}

.skip-content {
  border-top: 1px solid transparent;
}

.skip-links .nav-toggle {
    float: left;
    background: transparent;
    border: 0px none;
    border-left: 1px solid transparent;
    position: relative;
    display: block;
    line-height: 60px;
    text-align: center;
    height: 60px;
    width: 60px;
    text-shadow: none;
    vertical-align: middle;
    padding: 0;
}

.skip-content .group {
    padding: 15px;
}


.dropdown .dropdown-menu {
    position: static;
    float: none;
}

//
// Panel
//

.panel {

    .panel-heading {
        font-weight: bold;
        text-transform: uppercase;
        border: none;

        h1,h2,h3,h4,h5,h6,
        .h1,.h2,.h3,.h4,.h5,.h6 {
            line-height: 25px;
        }
    }
}

.panel-category {
    border: none;

    .panel-body {
        padding: 0;
        font-weight: bold;
        text-transform: uppercase;
    }

    .category--list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .category--item {
        padding: 0 1em;
        border-bottom: 2px solid transparent;

        > a {
            display: table;
            width: 100%;
        }
    }

        .category--title {
            float: left;
            width: 80%;
            padding: 1em 0;
        }

        .category--icon {
            float: right;
            padding: 1em 1em 1em 0em;
        }

    .panel-category-button {
        width: auto !important;
    }
}


// ==========================================================================
// Include at 3 (tablet)
// ==========================================================================
@include to(3) {
    .site-corporate {
        .dropdown .dropdown-menu {
            position: absolute;
            float: left;
        }
    }

    .site-header {
        .skip-content .dropdown .dropdown-menu .dropdown-menu {
            display: none;
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }
}

// ==========================================================================
// Include at 4 (960 dekstop)
// ==========================================================================

// ==========================================================================
// Include at 4 (1280 dekstop)
// ==========================================================================

@include from(4) {
    .site-corporate {
        .nav-default {
            width: auto;

            > li {
                float: left;
                display: block;

                > a {
                    line-height: 2.25em;
                    float: left;
                    font-size: .75em;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }

        .marker {
            display: none;
        }

        .skip-content .dropdown-menu {
            .dropdown,
            .dropdown-menu {
                position: static !important;
            }
        }
    }

    .site-categories {
        .nav-default li {
            float: left;
        }

        .panel-category .panel-body {
            display: block !important;
        }
    }

    .dropdown .dropdown-menu {
        position: absolute;
        float: left;
    }

    .w-search {
        display: block !important;
    }

    .brand {
        width: 16.66667%;
        height: 80px;
        padding: 0;
    }

        .brand a {
            max-height: 80px;
        }

        .brand img {
            max-height: 80px;
        }

    .header--interaction {
        padding: 1.5em 0;
    }



    .skip-content {
        border-top: none;
    }

    .skip-content .group {
        padding: 1em 0;
    }

    .header-actions .is-collapsed {
        display: block;
    }

    //
    // Panel
    //

    .panel-category {

        .panel-heading {
        }

        .panel-body {
            padding: 0;
        }

        .category--list {
            display: table;
            width: 100%;
        }

        .category--count {
            display:none;
        }

        .category--item {
            padding: 0 .5em;
            float: left;
            border: none;

            > a {
                width: auto;
                display:block;
            }
        }

        .category--title {
            width: auto;
        }

        .category--icon {
            display:none;
        }
    }
}

.button, .button-primary, .button-text {
    -webkit-background-clip: initial;
    -moz-background-clip: initial;
    background-clip: initial;
}

//
// LazyLoad
//
:not(.ielt9) .placeholder-wrapper {
    width: 100%;
    box-sizing: content-box;
    position: relative;
    height: auto;
    display: inline-block;
}
:not(.ielt9) .placeholder-wrapper > .placeholder {
    display: block;
    width: 100%;
    padding-top: 100%;
}
:not(.ielt9) .placeholder-wrapper > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.ielt9 .lazyOwl,
.ielt9 .lazyload {
    display: none !important;
}
.lazyload,
.lazyloading,
.lazyloaded {
    opacity: 0;
    transition: opacity 0.3s;
}
img.lazyloaded {
    opacity: 1;
}

//
// touch screens: avoid zoom on inputs
//
html.touch {
    .form-input,
    .form-input.input-group-main {
        font-size: 16px;
        padding-left: 0.5em;
        padding-right: 0.5em;
        &.form-select {
            padding: 0 0.5em;
        }
    }
}