/*
# Description

## Date last modified

*/

.column-box #recaptcha_image, .footer-social #recaptcha_image {
    width: 100% !important;
}

#recaptcha_image {
    width: 100% !important;

    @include from(3) {
        width: 300px !important;
    }
}

#recaptcha_challenge_image {
    display: block;
    max-width: 100%;
    height: auto;
}