.brand img,
.corporate,
.header--interaction {
    transition: all .25s ease-in-out;
}

.headroom {
	box-shadow: 0px 3px 3px rgba(0,0,0, 0.1);
}

@include from(4) {
	.headroom {
	}

	.headroom--not-top {
	    position: fixed;
	    top: 0;
	    z-index: 999;
	    height: 60px;

	    .header--interaction {
	        padding: .75em 0;
	    }
	    
	    .brand {
	        height: 60px;
	        padding: 0;
	    }

	    .brand img {
	        max-height: 60px;
	    }
	}
}