.accordion-section {
    transition: all .255s ease;
    border-top: 0px;
    padding: 0px 10px;
    border-radius: 0px 0px 3px 3px;
    overflow: hidden;
    opacity: 1;
    >:first-child {
        padding-top: 10px;
    }
    >:last-child {
        padding-bottom: 10px;
    }
}

.accordion-btn {
    min-height: 36px;
    padding: 2px 10px 2px 0px;
    width: 100%;
    border: 2px solid currentColor;
    border-color: currentColor !important;
    border-radius: 3px;
    background: transparent;
    text-align: left;
    line-height: 1;
    display: flex;
    align-items: center;
    outline: none;
    border-radius: 3px 3px 0px 0px;
    .fa {
        transition: all .125s ease;
        transform: rotate(0deg);
        pointer-events: none;
        min-width: 46px;
        height: 18px;
        margin: auto;
        font-size: 18px;
        -ms-grid-column: 1;
    }
    .accordion-text {
        flex: 1;
        pointer-events: none;
        -ms-grid-column: 2;
        .accordion-title {
            line-height: 2;
            font-weight: 600;
        }
    }
}

.closed {
    .accordion-section{
        max-height: 0px !important;
        overflow-y: hidden;
        border: 2px solid transparent;
        opacity: 0;
    }
    .accordion-btn {
        border-radius: 3px;
        .fa {
            transform: rotate(-90deg);
        }
    }
}
