/*
# Description

## Date last modified

*/

//
// Quick cart
//

.m-quick-cart{
	.quick-cart-link.button-primary {
		padding-top: 0.45em;
		padding-bottom: 0.45em;
		padding-right: 0.45em;

		> .fa.fa-shopping-cart {
			margin: -0.45em;
	    margin-top: -0.45em;
			border-top: solid 1px inherit;
			border-bottom: solid 1px inherit;
	    margin-left: 1em;
	    margin-right: -0.45em;
	    width: auto;
	    padding-left: 1em;
	    padding-right: 1em;
	    position: relative;
	    line-height: 2.57em!important;
			.m-quick-cart__count{
				margin-left: 0.45em;
				&.h6{color: inherit;}
			}
		}
	}
}
