//
// Slider themes
// -----------------------------------------------------------------------------


// ==========================================================================
// Hero slider
// ==========================================================================

.hero-slider-theme {

    .owl-pagination{
        margin: 1em;
    }

    img {
        margin: 0;
    }

    .item {
        position: relative;
    }

    .item-caption {
        padding-top: 1em;
        @include from(3) {
            position: absolute;
            margin-top: 0px;
            left: 0;
            right: 0;
            bottom: 0px;
        }

        @include from(5) {
            padding-top: 2em;
            padding-bottom: 1em;
        }
    }

    .item-link {
        display: block;

        @include at(4) {
            margin-top: 10px;
        }
    }

    .item-title,
    .item-text {
        display: block;
    }

    .item-title p,
    .item-title span,
    .item-text p,
    .item-text span {
        display: inline-block;
        margin: 0;
    }


    .item-link .button-text {
        display: inline-block;
        margin: 0;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    //
    // Controls
    //
    .owl-controls{
        text-align: center;

        //
        // Styling Next and Prev buttons
        //

        .owl-buttons {
            display: none;

            .owl-next,
            .owl-prev {
                position: absolute;
                cursor: pointer;
                top: 0;
                bottom: 0;
                z-index: 99;
                width: 50px;
                font-family: FontAwesome;
                font-style: normal;
                font-size: 15px;
                font-weight: 400;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;

                @include from(3) {
                    font-size: 30px;
                    width: 60px;
                }

                &:before {
                    width: 30px;
                    height: 27px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 22%;


                    @include from(3) {
                        width: 30px;
                        height: 27px;
                        overflow: hidden;
                        margin: auto;
                        top: 0;
                        bottom: 0;
                    }
                }
            }

            .owl-next {
                right: 0;
                &:before {
                    content: "\f054";
                }
            }

            .owl-prev {
                left: 0;
                &:before {
                    content: "\f053";
                }
            }

            @include from(4) {
                display: block;
            }
        }

        //
        // Clickable class fix problem with hover on touch devices
        // Use it for non-touch hover action
        //

        &.clickable .owl-buttons div:hover{
            filter: Alpha(Opacity=100);/*IE7 fix*/
            opacity: 1;
            text-decoration: none;
        }

        .owl-page{
            display: inline-block;
            zoom: 1;
            *display: inline;/*IE7 life-saver */

            span{
                display: block;
                width: 8px;
                height: 8px;
                margin: 5px 7px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                border-radius: 15px;

                @include from(3) {
                    width: 12px;
                    height: 12px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    border-radius: 20px;
                }

                //
                // If PaginationNumbers is true
                //

                &.owl-numbers{
                    height: auto;
                    width: auto;
                    color: #FFF;
                    padding: 2px 10px;
                    font-size: 12px;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    border-radius: 30px;
                }
            }
        }
    }
}

// ==========================================================================
// Product slider
// ==========================================================================

.product-slider-theme {@extend .hero-slider-theme;
    margin-top: 0em;

    .owl-item a {
        display: block;
    }

    @media print {
        .owl-item {
            max-width: 50vw;
        }
    }
}

//
// Preloading images
//

.owl-item.loading{
    min-height: 100px;
    background: url(../images/AjaxLoader.gif) no-repeat center center
}
