// ==========================================================================
// DROPDOWN
// ==========================================================================

.dropdown-container {
    @include border-radius(0px);
    border-color: $design-border-color;

    .divider,
    .dropdown-footer {
        border-color: $design-border-color;
    }
}

.site-categories {

    .panel-category .h5 {
        color: dolp($design-navigation-font-color, 15%);
    }

    .category--list {
        li {
            a {
                color: $design-navigation-font-color;
                &:hover {
                    color: dolp($design-navigation-font-color, 15%);
                }
            }

            &.active {
                background-color: dolp($design-navigation-background-color, 15%);
                > a {
                    color: dolp($design-navigation-font-color, 15%);
                }
            }
        }
    }

    .dropdown-container {
        background-color: dolp($design-navigation-background-color, 10%);
        border-color: dolp($design-navigation-background-color, 20%);
        color: $design-navigation-font-color;

        a {
            color: $design-navigation-font-color;
            &:hover {
                color: dolp($design-navigation-font-color, 8%);
            }
        }
        .dropdown-container {
            a {
                color: dolp($design-navigation-font-color, 8%);
                &:hover {
                    color: dolp($design-navigation-font-color, 16%);
                }
            }
            .dropdown-container {
                a {
                    color: dolp($design-navigation-font-color, 16%);
                    &:hover {
                        color: dolp($design-navigation-font-color, 24%);
                    }
                }
            }
        }
    }
}

.site-corporate {

    .nav-default,
    .nav-menu {
        li {
            a {
                color: $design-navigation-font-color;
                &:hover {
                    color: dolp($design-navigation-font-color, 15%);
                }
            }

            &.active {
                > a {
                    color: saturate(darken($design-navigation-font-color, 20%), 10%);
                }
            }
        }
    }

    .dropdown-container {
        background-color: dolp($design-navigation-background-color, 10%);
        border-color: dolp($design-navigation-background-color, 20%);
        color: $design-navigation-font-color;

        a {
            color: $design-navigation-font-color;
            &:hover {
                color: dolp($design-navigation-font-color, 8%);
            }
        }
        .dropdown-container {
            a {
                color: dolp($design-navigation-font-color, 8%);
                &:hover {
                    color: dolp($design-navigation-font-color, 16%);
                }
            }
            .dropdown-container {
                a {
                    color: dolp($design-navigation-font-color, 16%);
                    &:hover {
                        color: dolp($design-navigation-font-color, 24%);
                    }
                }
            }
        }
    }
}

$itemPrimaryActive: saturate(darken($design-navigation-font-color, 20%), 10%);

.site-header {

    .nav-default,
    .nav-menu {

        > li {
            &.active {
                background-color: dolp($design-navigation-background-color, 10%);
            }
        }
        li {
            a {
                color: $design-navigation-font-color;
                &:hover {
                    color: dolp($design-navigation-font-color, 15%);
                }
            }

            li {
                &.active {
                    background-color: dolp($design-navigation-background-color, 20%);
                    > a {
                        color: $itemPrimaryActive;
                    }
                }
            }
        }

        @media screen and (min-width: 960px) {

            > li {
                &.active {
                    background: transparent;
                    a.item-primary {
                        @include box-shadow(0, -3px, 0, $itemPrimaryActive, inset);
                    }
                }
            }
        }

        .dropdown-container {

            a {
                color: $design-navigation-font-color;
                &:hover {
                    color: dolp($design-navigation-font-color, 8%);
                }
            }
            .dropdown-container {
                a {
                    color: dolp($design-navigation-font-color, 8%);
                    &:hover {
                        color: dolp($design-navigation-font-color, 16%);
                    }
                }
                .dropdown-container {
                    a {
                        color: dolp($design-navigation-font-color, 16%);
                        &:hover {
                            color: dolp($design-navigation-font-color, 24%);
                        }
                    }
                }
            }
        }
    }

    .dropdown-container {
        background-color: dolp($design-navigation-background-color, 10%);
        color: $design-navigation-font-color;

        @media screen and (min-width: 960px) {
            border-color: dolp($design-navigation-background-color, 20%);
        }

        .dropdown-header {
            background-color: dolp($design-navigation-background-color, 15%);
        }

        li {
            &.active {
                background-color: dolp($design-navigation-background-color, 15%);
            }
        }

        .divider,
        .dropdown-header,
        .dropdown-body,
        .dropdown-footer,
        hr {
            border-color: dolp($design-navigation-background-color, 20%);
        }
    }

    .t-striped {
        > li:nth-child(odd) {
            background-color: dolp($design-navigation-background-color, 10%);
        }
    }

    .marker {
        color: dolp($design-navigation-background-color, 20%);
        .fa-border {
            border-color: dolp($design-navigation-background-color, 15%);
        }
    }
}

